# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.env/
venv/
ENV/

# Configurações do PyCharm
.idea/

# Arquivos de backup/temporários
*.bak
*.swp
